html
{
    font-size: 16px;
}

.em
{
    font-size: 20px;
}

.em div

{
font-size: 2rem;
}

.em p
{
     font-size: 1rem; /* it will be 16px because it's root value so html value is 16px and it will be 1*16px */
}

/* p 
{
color: aqua !important;
} */
/* p 
{
color: blueviolet !important;
} */

/* section {
     background: black;
    color: white;
}

<!-- id selector -->
#fifth
{
    color: red;
}

.pg
{
    color: aqua;
} 

*/

/* Descendent (space) children */

    /* Descendent (space) children */
/* section p
{
    color: green;
} */

/* child (>) */

/* section >  p 
{
    text-decoration: underline;
    font-size: 32px;
} */

/* section > div > p 
{
    text-decoration: underline;
    font-size: 32px;
} */

/* Adjacent (+) */

/* section + p
{
    font-size: 32px;
}

section ~ p
{
    font-size: 20px;
    background-color: brown;
} */

/* attribure selector */

/* [href]
{
    font-size: 32px;
    text-decoration: none;
}

[href="contact.html"]
{
    color: red  ;
} */

/* pseudo element selector */

/* p::first-line{
    color: red;
}

p::first-letter{
    font-size: 32px;
    text-transform: uppercase;
}

a::before{
    content: "hi ";
}

a::after{
    content: " yay  ";
}

a:hover{
    font-size: 32px;
    color: bisque;
} */

/* p:nth-child(1){
    color: red;
} */

/* p:nth-child(even){
    color: red;
} */

p:nth-child(odd){
    color: red;
}